/* Yêu cầu 1: Khai báo các quy tắc định dạng */

h2 {
    color: firebrick;
    font-family: Verdana;
}

h3 {
    color: indianred;
}

label {
    font-size: 20px;
}

input {
    background-color: yellow;
}

textarea {
    background-color: ivory;
}\